<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>preview</title>
</head>
<body>
    <div class="container">
        <div class="container-img">
            <img src="../../assets/lavadero.png" alt="">
        </div>
        <div class="data-carwash">
            <div class="data">
                <h2>nombre del lavadero</h2>
                <span id="stars">★★★★★</span> <br>
                <span id="ubication">ubicacion del lavadero</span>
            </div>
            <div class="data">
                <strong>vehiculos que manejamos:</strong>
            </div>
        </div>
    </div>
</body>
</html>